.updPics {
opacity:0.8;
width:14px;
}

.brandPic {
height:44px;
padding-top:10px;
width:auto;
}

.inlineContainer {
display:inline-block;
}

.innerYellow {
    height: 104px;
    border-bottom: solid 4px #f3ea00
}

.outerYellow {
    height: 7px;
    border-bottom: solid 1px #f3ea00;
    
}

.carousel .item{
  width: 100%;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: -o-center;
  text-align: -ms-center;
}


.innerWhite {
    height: 104px;
    border-bottom: solid 4px #ffffff
}

.outerWhite {
    height: 7px;
    border-bottom: solid 1px #ffffff
}

.bottom-style{
  background-color: #181d2a;;
  height: 40px;
}

.grey-gradient {
    background:linear-gradient(to top, #dbdbdb, #f7f7f7);
}

.footer {
    background-color: #dcd400;
    color: #181d2a;
    height: 100px;
}

.yellow-gradient {
    background:#f0cf17;
    margin-top: -1px;
    border-top: 1px solid #fff
}

.white-gradient {
    background:#ffffff;
}
.height110{
    height: 110px;
    vertical-align: bottom;
    margin-top: 73px;
}
.height104{
    height: 104px;
    vertical-align: bottom;
    margin-top: 72px;
}

.mt140{
    margin-top: 140px;
}
.navbar-default .navbar-nav>li>a {
background-color:#181d2a;
color:#dcd400;
padding-top:74px;
}

.navbar-form {
padding-top:51px;
}

.dropdown-menu {
background-color:#181d2a;
color:#181d2a;
}

/*.hac{
    margin-left: auto;
    margin-right: auto;
}*/

.hac{
  position: absolute;
  width: 100px;
  left: 40%;
  text-align: center;
  margin: auto;
}

.har{
text-align: right;
}


.navbar{
margin-bottom: 0;
}

.copyright {
font: 14px arial, sans-serif;
color: #dcd400;
text-align: right;
margin-top: 10px;
margin-right: 22px;
}
.nav .navbar-nav .navbar-right>li>a, .copyright {
font:14px arial, sans-serif;
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover {
background-color:#dcd400;
color:#181d2a;
}

.navbar-default .navbar-toggle .icon-bar {
background-color:#dcd400;
}

.navbar-default,.navbar-default .navbar-toggle:hover>span {
background-color:#181d2a;
}

.btn,.dropdown-menu>li>a,.navbar-default .navbar-toggle,.footer-btn:hover, .footer-btn:focus {
background-color:#181d2a;
color:#dcd400;
}

.navbar-default .navbar-nav>li>a:hover,.btn:hover,.btn:focus,.dropdown-menu>li>a:hover,.navbar-default .navbar-toggle:hover,.navbar-nav .open>a:hover,.footer-btn {
background-color:#dcd400;
color:#181d2a;
}

.footer-btn{
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color:#dcd400;
  color:#181d2a;
  border-color: #000;
}
.footer-btn:hover{
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color:#181d2a;
  color:#dcd400;
}

.navbar,.navbar-right>li>a {
min-height:117px;
}

.row {
  margin-bottom: 30px;
}

.lorem {
font:18px arial, sans-serif;
}


.stickersAndTshirts {
font:30px arial, sans-serif;
}

.whatWeDoFont{
font:42px arial, sans-serif;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/*@media (max-width: @screen-sm-min) {*/
@media (max-width: 768px)
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    background-color:#181d2a;
    color:#dcd400;
    padding-top:20px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    background-color:#dcd400;
    color:#181d2a;
    
    }
}

/* Medium devices (desktops, 992px and up) */
/* @media (max-width: @screen-md-min) { */
@media (max-width: 992px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    background-color:#181d2a;
    color:#dcd400;
    padding-top:20px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    background-color:#dcd400;
    color:#181d2a;
    
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
    .navbar-default .navbar-nav>li>a {
    background-color:#181d2a;
    color:#dcd400;
    padding-top:20px;
    }
    .navbar-default .navbar-nav>li>a:hover {
    background-color:#dcd400;
    color:#181d2a;
    padding-top:20px;
    }
}

