<div class="yellow-gradient">
  <div class="container" ng-controller="whatWeDoCtrl">
    <div class = "row">
      <!--<img src="images/HowWeDoLeftStripe.jpg" /> -->
      <div class = "col-sm-4">
        <div class = "innerWhite"></div>
        <div class = "outerWhite"></div>
      </div>
      <div class = "col-sm-4 height110">
        <p class="whatWeDoFont">ЧТО МЫ ДЕЛАЕМ</p>
      </div>
      <div class = "col-sm-4">
        <div class = "innerWhite"></div>
        <div class = "outerWhite"></div>
        <!--<img src="images/HowWeDoLeftStripe.jpg" /> -->
      </div>
    </div>
    <div class = "row">
      <div class = "col-sm-6" ng-repeat="type in types">
        <p class="stickersAndTshirts">{{type.name}}</p>
        <p class="lorem">{{type.description}}</p>
        <a href="#/types/{{type.id}}" ><img class="img-responsive centered-image" ng-src="{{type.image}}" /></a>
      </div>
    </div>
  </div>
</div>
<div class="white-gradient">
  <div class="container">
    <div class = "row">
      <div class = "col-sm-4 ">
        <div class = "innerYellow"></div>
        <div class = "outerYellow"></div>
        <!--<img src="images/WhatWeDoLeftStripe.jpg" /> -->
      </div>
      <div class = "col-sm-4 height104">
        <p class="whatWeDoFont">КАК МЫ ДЕЛАЕМ</p>
      </div>
      <div class = "col-sm-4 ">
        <div class = "innerYellow"></div>
        <div class = "outerYellow"></div>
        <!--<img src="images/WhatWeDoRightStripe.jpg" /> -->
      </div>
    </div>
    <div class = "row">
      <div class = "col-sm-6 hide-for-xs">
        <img class="img-responsive " src="images/Step1.jpg"/>
      </div>
      <div class = "col-sm-6 col-xs-12 mt140">
        <p class="stickersAndTshirts">Шаг 1</p>
        <p class="lorem">Определяемся с идеей. Делаем набросок либо получаем от заказчика готовыый эскиз.</p>
      </div>
    </div>
    <div class = "row">
      <div class = "col-sm-6 col-xs-12 mt140">
        <p class="stickersAndTshirts">Шаг 2</p>
        <p class="lorem">Включаем мозг. Дорабатываем эскиз до готового продукта с изюминкой. Утверждаем с заказчиком работу.</p>
      </div>
      <div class = "col-sm-6 hide-for-xs">
        <img class="img-responsive " src="images/Step2.jpg"/>
      </div>
    </div>
    <div class = "row">
      <div class = "col-sm-6 hide-for-xs">
        <img class="img-responsive " src="images/Step3.jpg"/>
      </div>
      <div class = "col-sm-6 col-xs-12 mt140">
        <p class="stickersAndTshirts">Шаг 3</p>
        <p class="lorem">Отдаем готовую работу на изготовление. По готовности связываемся с заказчиком. Договариваемся о встрече. Передаем изделие.</p>
      </div>
    </div>
  </div>
</div>